<div class="section-container no-left-padding" id="portfolioSection">
  <div class="section-headline-container">
    <div class="headline-container">
      <div class="border-purple"></div>
      <p class="headline headline-padding">Portfolio</p>
    </div>
    <p class="left-padding">
      This page is a sample of my work - please feel free to try them out.
    </p>
  </div>
  <div class="projects-overview-container">
    <div class="project-single-container">
      <img src="http://placehold.it/150/" alt="" />
      <div class="project-description-container">
        <p>Headline</p>
        <p>Frameworks</p>
        <p>
          Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </p>
        <button>Test</button>
      </div>
    </div>
  </div>
</div>
