.portfolio-section-container {
  display: flex;
  flex-direction: column;
}

.section-headline-container {
  display: flex;
  flex-direction: column;

  p {
    color: white;
  }
}

.headline-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.left-padding {
  padding-left: 10vw;
}

.headline-padding {
  padding-left: 5vw;
}

.no-left-padding {
  padding-left: unset !important;
}

.border-purple {
  border-bottom: var(--purple-accent) solid 4px;
  width: 5vw;
  position: relative;
}

.flex-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-height {
  height: unset !important;
}

.shadow {
  position: absolute;
  z-index: -50;
  flex-shrink: 0;
}

.blue-shadow {
  position: absolute;
    right: -35vw;
    width: 65%;
    object-fit: contain;
    flex-shrink: 0;
}

.green-shadow {
  position: absolute;
  left: -70vw;
  width: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

.shadow-container{
  display: flex;
  align-items: center;
}

.margin-top-small{
  margin-top: 5svh;
}

.margin-top-big{
  margin-top: 15svh;
}

.anchor {
  display: block;
  padding-top: 170px;
  margin-top: -90px;
}

@media(max-width:1050px) and (min-height:1000px){

  .anchor{
    padding-top: 220px;
    margin-top: -70px;
  }
}
