.footer-container{
    display: flex;
    width: 100svw;
    height: 15svh;
    align-items: center;
    border-top: 2px solid var(--green-accent);
    padding: 5% 0%;

}

.main-row{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    color: white;

    span{
        font-size: var(--step-0);
    }
}

.social-media{
    display: flex;
    gap: 5svw
}

.social-media-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

@media(width<=600px){
    .footer-container{
        height: 20svh;
    }
}