<app-header class="hide-mobile" ngClass="header-wrapper"></app-header>
<app-header-mobile class="hide-desktop" ngClass="header-wrapper"></app-header-mobile>

<div class="wrapper">
<app-landing-section class="hide-mobile"></app-landing-section>
<app-landing-section-mobile class="hide-desktop"></app-landing-section-mobile>

<app-about-me-section class="hide-mobile"></app-about-me-section>
<app-about-me-section-mobile class="hide-desktop"></app-about-me-section-mobile>

<app-skill-section class="hide-mobile"></app-skill-section>
<app-skill-section-mobile class="hide-desktop"></app-skill-section-mobile>

<app-portfolio-section class="hide-mobile"></app-portfolio-section>
<app-portfolio-section-mobile class="hide-desktop"></app-portfolio-section-mobile>

<app-contact-section class="hide-mobile"></app-contact-section>
<app-contact-section-mobile class="hide-desktop"></app-contact-section-mobile>

</div>

<app-footer class="hide-mobile"></app-footer>
<app-footer-mobile class="hide-desktop"></app-footer-mobile>

<app-overlay-mobile class="overlay" [ngClass]="{'transform': overlayVisible}" #overlayComponent></app-overlay-mobile>



