.header-inner {
  display: flex;
  padding: 0px 25px;
  justify-content: space-between;
  align-items: center;
  background: #141d2f;
  color: white;
  height: 120px;
}

.menu {
  display: flex;
  height: 28px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 15vh;
}

.name {
  font-size: 28px;
  font-weight: bold;
}
