.contact-main-container{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  margin-bottom: 10%;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5vh;
  height:100%;
  padding-right: 10vw;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: flex-end;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: white;
}

.contact-headline {
  display: flex;
  align-items: center;
  gap: 5vw;
}

.border-green {
  border-bottom: var(--green-accent) solid 4px;
  width: 100%;
  position: relative;
}

.headline-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.no-right-padding {
  padding-right: unset !important;
}

.padding-right {
  padding-right: 10vw !important;
}

.align-end{
    align-items: flex-end;
}

.subhead{
    font-size: 2em;
    font-weight: 800;
    line-height: 120%;
}

.anchor {
  display: block;
  padding-top: 170px;
  margin-top: -90px;
}

@media(max-width:1050px) and (min-height:1000px){

  .anchor{
    padding-top: 220px;
    margin-top: -70px;
  }
}
