<a id="contactSection" class="anchor"></a>

<div class="contact-main-container">
  <div
    class="contact-headline"
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-offset="300"
  >
    <p class="headline">Contact</p>
    <div class="border-green"></div>
  </div>

  <div class="contact-container">
    <div
      class="text-container"
      data-aos="zoom-in"
      data-aos-duration="500"
      data-aos-offset="300"
    >
      <span class="subhead">Got a problem to solve?</span>
      <p>
        Contact me through this form, I am interested in hearing you, knowing
        your ideas and contributing to your projects with my work.
      </p>
      <p>Need a Frontend developer? Contact me!</p>
    </div>
    <div class="form-container">
      <app-contact-form class="hide-mobile"></app-contact-form>
      <app-contact-form-mobile class="hide-desktop"></app-contact-form-mobile>
      <a href="#landingSection"
        ><img class="go-up-btn" src="./../../assets/img/goUp.png" alt=""
      /></a>
    </div>
  </div>
</div>
