<div class="contact-section-container" id="contactSectionMobile">
    <div class="contact-headline">
      <p class="headline">Contact</p>
        <div class="border-green"></div>
    </div>
  
    <div class="contact-container">
      <div class="text-container">
        <span class="subhead">Got a problem to solve?</span>
        <p>
          Contact me through this form, I am interested in hearing you, knowing
          your ideas and contributing to your projects with my work.
        </p>
        <p>Need a Frontend developer? Contact me!</p>
      </div>
      <div class="form-container">
        <app-contact-form class="hide-mobile"></app-contact-form>
        <app-contact-form-mobile class="hide-desktop"></app-contact-form-mobile>
      </div>
    </div>
  </div>
  