.contact-section-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10%;   
    padding-top: 5vh;
    margin-bottom: 10%;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .contact-headline {
    display: flex;
    align-items: center;
    gap: 5vw;
    margin-left: 20svw;
  }
  
  .border-green {
    border-bottom: var(--green-accent) solid 4px;
    width: 100%;
    position: relative;
  }
  
  .headline-container {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  
  .subhead{
      font-size: var(--step-1);
      font-weight: 800;
      line-height: 120%;
  }

  .anchor {
    display: block;
    padding-top: 170px;
    margin-top: -85px;
  }
  