.about-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height-desktop));
  padding-top: var(--scroll-padding-top);
}

.txt-img-container{
  display: flex;
  flex-direction: row;
}

.text-container {
  width: 33vw;
  display: flex;
  flex-direction: column;
  color: white;
}

.special-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.photo {
  width: 593px;
  height: 647px;
  flex-shrink: 0;
  position: absolute;
  right: 150px;
  top:970px;
  z-index:-5;
}

.photo-shadows {
  position: absolute;
  right: 150px; 
  width: 634px;
  height: 616.567px;
  z-index: -15;
  top:970px;
}

.profile-container{
  overflow: visible;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-vector{
  position: absolute;
  z-index: -1;
  width: 100%;
}

.gradient-container{
  position: relative;
  bottom: 300px
}