<div class="section-container" id="aboutSection">
  <div class="txt-img-container">
    <div class="text-container">
      <p class="headline">About me</p>
      <p>
        Hi, I am a Front-end deverloper based in München, Germany(....)Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non
        tempus convallis. Integer et justo vitae urna finibus eleifend sit amet
        porttitor sapien. Donec sollicitudin massa vel lorem vestibulum
        efficitur.
      </p>
      <div class="special-info">
        <img src="assets/img/lightbulb_symbol.svg" alt="" />
        <p>
          Some personal thing to share(...) Donec ut imperdiet diam, et
          convallis neque. Class aptent taciti sociosqu ad litora torquent per
          conubia nostra, per inceptos himenaeos.
        </p>
      </div>
      <div class="special-info">
        <img src="assets/img/puzzle_piece.svg" alt="" />
        <p>
          Some personal thing to share(...) Donec ut imperdiet diam, et
          convallis neque. Class aptent taciti sociosqu ad litora torquent per
          conubia nostra, per inceptos himenaeos.
        </p>
      </div>
    </div>
  </div>

  <div class="profile-container">
    <img
      class="photo"
      src="assets/img/hero character photo.png"
      alt=""
    />

    <img
      src="assets/img/photo_shadows.png"
      alt=""
      class="photo-shadows"
    />
  </div>
</div>
<div class="gradient-container">
  <img
  class="gradient-vector"
  src="assets/img/mask_blue_gradient.png"
  alt=""
/>
</div>
