.about-container {
  display: flex;
  height: calc(100vh - var(--header-height-desktop));
  padding-top: var(--scroll-padding-top);
}


.txt-img-container {
  display: flex;
  flex-direction: row;
  padding: 0 10%;
  height: 80%;
}

.text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: white;
}

.special-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.photo {
  flex-shrink: 0;
  position: absolute;
  z-index: -5;
  height: 100%;
  object-fit: cover;
  right: -25%;
}

.photo-shadows {
  position: absolute;
  height: 100%;
  object-fit: cover;
  right: -25%;
  z-index: -15;
}

.profile-container {
  position: relative;
  overflow: visible;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-vector {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 50%;
  width: 100svw;
  bottom: -125%;
}



.flex-row{
  flex-direction: row !important;
}

@media(width<=1050px){
  .txt-img-container{
    flex-direction: column;
    align-items: center;
    height: unset;
  }

  .text-container{
    width: 100%;
  }

  .profile-container{
    align-items: unset;
  }

  .photo, .photo-shadows{
    right: unset;
  }

  

  .gradient-container{
    position: unset;
    bottom: 0;
  }

  .gradient-vector{
    bottom: -140%;

  }
}
