<div class="landing-container">
  <div class="text-container">
    <span class="vertical-text">I am</span>

    <div class="horizontal-div">
      <span class="name">Stefan Anders</span>
      <span class="role">Frontend developer</span>
    </div>
  </div>

  <button class="talk-btn">Let's talk!</button>

  <img
    class="shadow purple-shadow"
    src="./../../assets/img/PurpleShadow_1.png"
    alt=""
  />

  <img
    class="shadow teal-shadow"
    src="./../../assets/img/BlueShadow_1_V2.png"
    alt=""
  />
</div>
