<div class="top-pos" id="landingSectionMobile"></div>

<div class="landing-container">
  <div class="text-container">
    <span class="vertical-text">I am</span>

    <div class="horizontal-div">
      <span class="name">Stefan Anders</span>
      <span class="role">Frontend developer</span>
    </div>
  </div>

  <button class="talk-btn">Let's talk!</button>

  <div class="shadow-box">
  <img
    class="shadow purple-shadow"
    src="assets/img/PurpleShadow_1.png"
    alt=""
  /></div>

  <img
    class="shadow teal-shadow"
    src="assets/img/BlueShadow_1_V2.png"
    alt=""
  />


  <div class="social-media-container">
    <div class="border-green"></div>
    <img
      class="social-media-icon"
      src="assets/img/socialMedia/github_normal.svg"
      alt=""
    />
    <img
      class="social-media-icon"
      src="assets/img/socialMedia/mail_normal.svg"
      alt=""
    />
    <img
      class="social-media-icon"
      src="assets/img/socialMedia/linkedIn_normal.svg"
      alt=""
    />
  </div>

  <a href="#" class="scroll-down-container">
    <span><a href="#aboutSectionMobile">Scroll down</a></span>
    <img src="assets/img/arrow-down-line.svg" alt="" />
  </a>
</div>
