.skill-container {
  display: flex;
  height: calc(100vh - var(--header-height-desktop));
  padding: 0px 10%;
}

.skill-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.skill-icon-row {
  display: flex;
  flex-direction: row;
  gap: 6vw;
}

.icon-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 83px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  &:hover {
    cursor:default;
  }

  span {
    color: white;
    font-size: 16px;
    font-weight: 700;
    max-width: 90px;
    text-align: center;
  }
}

.svg {
  transition: all 225ms ease-in-out 0.15s; /* Füge eine Verzögerung von 0.15s hinzu */
  path {
    transition: fill 225ms ease; /* Füge eine Farbübergangsanimation hinzu */
  }

  &:hover {
    transform: translateY(-10px) rotate(10deg);
    path {
      fill: var(--teal-accent);
    }
  }
}

.skill-txt-container {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  color: white;
  margin-left: 50px;
  gap: 35px;
}

.skill-headline {
  display: flex;
  align-items: center;
  gap: 5vw;
  width: 100%;
}

.border-teal {
  border-bottom: var(--teal-accent) solid 4px;
  width: 100%;
  position: relative;
}

.talk-btn {
  cursor: pointer;
  margin-top: 100px;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid black !important;
  background: var(--green-accent);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  

  &:hover, :focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(#fff,0);
    transition: all 225ms ease-in-out;
    background: var(--purple-accent);
  }

  a {
    text-decoration: none;
    color: white;
  }
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 #{adjust-hue(#70e61c, 45deg)}; }
}

.no-right-padding{
  padding-right: unset !important;
}

.padding-right{
  padding-right: 10vw !important;
}

.anchor {
  display: block;
  padding-top: 110px;
  margin-top: -60px;
}


@media(max-width:1050px) and (min-height:1000px){
  .skill-container{
    height: unset;;
  }

  .anchor{
    padding-top: 220px;
    margin-top: -70px;
  }
}