<div class="footer-container">
  <div class="main-row">
    <span>Stefan</span>
    <span>&copy; Stefan Anders 2023</span>
    <div class="social-media">
      <a href="https://github.com/HrAnders" target="_blank"
        ><img
          class="social-media-icon"
          src="assets/img/socialMedia/github_normal.svg"
          alt=""
      /></a>
      <a href="mailto:stefananders@hotmail.de" target="_blank"
        ><img
          class="social-media-icon"
          src="assets/img/socialMedia/mail_normal.svg"
          alt=""
      /></a>
      <a href="https://linkedin.com/in/stefan-anders-6bb512238/" target="_blank"
        ><img
          class="social-media-icon"
          src="assets/img/socialMedia/linkedIn_normal.svg"
          alt=""
      /></a>
    </div>
  </div>
</div>
