.left-padding {
  padding-left: 10vw;
}

.right-padding {
  padding-right: 10%;
}

.headline-padding {
  padding-left: 5vw;
}

.no-left-padding {
  padding-left: unset !important;
}

.no-right-padding {
  padding-right: unset !important;
}



.projects-overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  gap: 10vh;
}

.flex-row-reversed {
  flex-direction: row-reverse !important;
  justify-content: flex-end;
}

.project-single-container {
  display: flex;
  gap: 35px;
}

.project-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  gap: 2vh;
}

.project-headline {
  font-size: 2em;
  color: var(--purple-accent);
  font-weight: 700;
  line-height: 120%;
}

.frameworks {
  font-size: 1.5em;
  color: var(--green-accent);
  font-weight: 400;
  line-height: 120%;
}

.talk-btn {
  font-size: 1.5em;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid black !important;
  background: var(--green-accent);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  &:hover {
    cursor: pointer;
  }
}

.github-btn {
  background: transparent !important;
  border: 1px solid var(--green-accent) !important;
}

.button-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5vw;

  a {
    text-decoration: none;
    color: white;
  }
}

.preview-img{
  width: 45%;
  object-fit: contain;
}

@media (width<=1050px) {
  .project-single-container,
  .flex-row-reversed {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .project-single-container {
    margin-left: 10svw;

    img {
      width: 60%;
      object-fit: cover;
    }
  }

  .projects-overview-container {
    margin-left: unset;
  }

  .project-description-container {
    align-items: center;
    padding-right: unset;

    p {
      text-align: center;
    }
  }

  .right-padding {
    padding-right: unset;
  }

  .button-group {
    justify-content: center;
  }
}

@media(width<=800px){
  .project-single-container{
   img{
     width: 80%;
   }
  }
  
  .talk-btn{
    font-size: 1em;;
  }
 }

@media(width<=600px){
 .project-single-container{
  img{
    width: 100%;
  }
 }  
 

}
