<a id="aboutSectionMobile" class="anchor"></a>

<div class="about-container" >
  <div class="profile-container">
    <img
      class="photo"
      src="assets/img/IMG_1297.png"
      alt=""
      data-aos="fade-left"
      data-aos-duration="1000"
    />

    <img src="assets/img/photo_shadows.png" alt="" class="photo-shadows" />
  </div>
  <img class="gradient-vector" src="assets/img/mask_blue_gradient.png" alt="" />

  <div
    class="text-container"
    data-aos="fade-right"
    data-aos-offset="50"
    data-aos-duration="1000"
  >
    <p class="headline-mobile">About me</p>
    <p class="subhead">
      Hi, I am a frontend deverloper born and raised in Hamburg, Germany.
      <br />Special force: crafting code with clarity.
    </p>
    <div class="special-info">
      <img src="assets/img/lightbulb_symbol.svg" alt="" />
      <p>
        As a software developer, I place great emphasis on creating code that is
        easily readable and maintainable. Additionally, I am known for employing
        creative approaches to tackle emerging problems and devise innovative
        solutions.
      </p>
    </div>
    <div class="special-info">
      <img src="assets/img/puzzle_piece.svg" alt="" />
      <p>
        Communication holds the key to productivity. Through my years of
        experience as a computer science teacher, I have learned how to make
        complex issues understandable to everyone.
      </p>
    </div>
  </div>
</div>
