<div class="about-container" id="aboutSection">
  <div class="profile-container">
    <img class="photo" src="assets/img/hero character photo.png" alt="" />

    <img src="assets/img/photo_shadows.png" alt="" class="photo-shadows" />
  </div>
  <img class="gradient-vector" src="assets/img/mask_blue_gradient.png" alt="" />

  <div class="text-container">
    <p class="headline-mobile">About me</p>
    <p>
      Hi, I am a Front-end deverloper born in Hamburg, Germany. I currently live
      in Mölln.
    </p>
    <div class="special-info">
      <img src="assets/img/lightbulb_symbol.svg" alt="" />
      <p>
        Some personal thing to share(...) Donec ut imperdiet diam, et convallis
        neque. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos.
      </p>
    </div>
    <div class="special-info">
      <img src="assets/img/puzzle_piece.svg" alt="" />
      <p>
        Communication holds the key to productivity. Through my years of experience as a computer science teacher, I have
        learned how to make complex issues understandable to everyone.
      </p>
    </div>
  </div>
</div>
