<div class="landing-container">
  <div class="text-container" data-aos="fade-right">
    <span class="vertical-text">I am</span>
    <div class="horizontal-div">
      <div>
        <span class="name">Ste</span>
        <span class="name highlight">f</span>
        <span class="name">an</span>
        <span class="name">An</span>
        <span class="name highlight">d</span>
        <span class="name">ers</span>
      </div>
      <span class="role">Frontend developer</span>
    </div>
  </div>

  <a href="#contactSection"><button class="talk-btn">Let's talk!</button></a>

  <img
    class="shadow purple-shadow"
    src="assets/img/PurpleShadow_1.png"
    alt=""
  />

  <img class="shadow teal-shadow" src="assets/img/BlueShadow_1_V2.png" alt="" />

  <div class="social-media-container">
    <div class="border-green"></div>
    <a href="https://github.com/HrAnders"
      ><img
        class="social-media-icon"
        src="assets/img/socialMedia/github_normal.svg"
        alt=""
    /></a>
    <a  href="mailto:stefananders@hotmail.de"><img
      class="social-media-icon"
      src="assets/img/socialMedia/mail_normal.svg"
      alt=""
    /></a>
    <a href="https://linkedin.com/in/stefan-anders-6bb512238/"><img
      class="social-media-icon"
      src="assets/img/socialMedia/linkedIn_normal.svg"
      alt=""
    /></a>
  </div>

  <a href="#" class="scroll-down-container">
    <span><a href="#aboutSection">Scroll down</a></span>
    <img src="assets/img/arrow-down-line.svg" alt="" />
  </a>
</div>
