<div class="landing-container">
  <div class="text-container">
    <span class="vertical-text">I am</span>
    <div class="horizontal-div">
      <div>
        <span class="name">Ste</span>
        <span class="name highlight">f</span>
        <span class="name">an</span>
        <span class="name">An</span>
        <span class="name highlight">d</span>
        <span class="name">ers</span>
      </div>
      <span class="role">Frontend developer</span>
    </div>
  </div>

  <button class="talk-btn">Let's talk!</button>

  <img
    class="shadow purple-shadow"
    src="./../../assets/img/PurpleShadow_1.png"
    alt=""
  />

  <img
    class="shadow teal-shadow"
    src="./../../assets/img/BlueShadow_1_V2.png"
    alt=""
  />

  <div class="social-media-container">
    <div class="border-green"></div>
    <img
      class="social-media-icon"
      src="./../../assets/img/socialMedia/github_normal.svg"
      alt=""
    />
    <img
      class="social-media-icon"
      src="./../../assets/img/socialMedia/mail_normal.svg"
      alt=""
    />
    <img
      class="social-media-icon"
      src="./../../assets/img/socialMedia/linkedIn_normal.svg"
      alt=""
    />
  </div>

  <a href="#" class="scroll-down-container">
    <span>Scroll down</span>
    <img src="./../../assets/img/arrow-down-line.svg" alt="" />
  </a>
</div>
