<form (submit)="sendMail()" #myForm>
  <div class="field-container">
    <input
      required
      type="text"
      name="name"
      placeholder="Your name"
      #nameField
      [(ngModel)]="nameInput"
      (focus)="checkName()"
      (blur)="checkName()"
      (input)="checkName()"
    />
    <span class="error-msg" #nameError hidden
      >Your name with at least 4 characters is required</span
    >
  </div>
  <div class="field-container">
    <input
      required
      type="email"
      name="mail"
      placeholder="Your E-Mail"
      #mailField
      [(ngModel)]="mailInput"
      (focus)="checkMail()"
      (blur)="checkMail()"
      (input)="checkMail()"
    />
    <span class="error-msg" #mailError hidden>Your email is required</span>
  </div>

  <div class="field-container">
    <textarea
      required
      type="text"
      name="message"
      placeholder="Your message"
      #messageField
    ></textarea>
    <span class="error-msg" #msgError hidden>Your message is empty</span>
  </div>
  <button #sendButton>Senden</button>
</form>
