form {
    display: inline-flex;
    flex-direction: column;
    gap: 2vh;
  
    input {
      background: #141d2f;
      border-radius: 10px;
      min-height: 5vh;
      border: 1px solid var(--purple-accent);
      padding-left: 15px;
      font-size: 16px;
      color: white;
  
      &:hover {
        cursor: pointer;
        border: 1px solid #1cdae6;
      }
    }
  
    textarea {
      background: #141d2f;
      font-family: unset !important;
      background: #141d2f;
      border-radius: 10px;
      border: 1px solid var(--purple-accent);
      height: 20vh;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 0;
      margin-bottom: 0;
      font-size: 16px;
      color: white;
      resize: none;
      text-overflow: ellipsis;
  
      &:hover {
        cursor: pointer;
        border: 1px solid #1cdae6;
      }
    }
  
    ::placeholder {
      color: white;
    }
  }
  
  .privacy-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 14px;
  }
  
  .privacy-span-container {
    margin-left: 15px;
  }
  
  .main {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  
    &:hover input ~ .pseudo-cb {
      border: 2px solid #1cdae6;
    }
  }
  
  .checkbox {
    visibility: hidden;
  }
  
  .pseudo-cb {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 2px solid var(--green-accent);
    border-radius: 5px;
    background-color: #141d2f;
  }
  
  .pseudo-cb:after {
    content: "";
    position: absolute;
    display: none;
  }
  .main input:checked ~ .pseudo-cb:after {
    display: block;
  }
  
  .main .pseudo-cb:after {
    left: 6.5px;
    bottom: 5px;
    width: 4px;
    height: 10px;
    color: var(--green-accent);
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .error-msg {
    color: #e61c40;
    font-size: 14px;
  }
  
  .field-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  
  .display-none {
    display: none;
  }
  
  .contact-btn {
    background: var(--green-accent) !important;
   
    &:hover {
      cursor: pointer;
      background-color: var(--purple-accent);
    }
  }
  
  .btn-container{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .btn-disabled{
    cursor: unset;
    background-color: #B6B6B6;
    color: white;
    display: inline-flex;
    padding: 15px 30px;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid black !important;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
  